h1{
color:rgb(17, 17, 199);
text-align: center;
}

h2{
color:rgb(211, 21, 21);
text-align: center;
}

h3{
    color:rgb(25, 182, 182);
}

p.couplet{
    color:rebeccapurple;
    text-align: center;
}

p.refrain{
    color:tomato;
    font-style: italic;
    text-align: center;
}
img{
    text-align: center;
}