h1{
color:rgb(17, 17, 199);
text-align: center;
font-size: 50px;
font-family:Verdana, Geneva, Tahoma, sans-serif
}

h2{
color:rgb(211, 21, 21);
text-align: center;
font-size: 35px ;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h3{
    color:rgb(25, 182, 182);
    font-size:25px;
    font-family: cursive;
    text-decoration:underline;
}

p.couplet{
    color:rebeccapurple;
    text-align: center;
}

p.refrain{
    color:tomato;
    font-style: italic;
    text-align: center;
}
img{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
p.text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p.mentionlegale{
    

}
