h1{
color:rgb(17, 17, 199);
}

h2{
color:rgb(211, 21, 21);
}

h3{
    color:rgb(25, 182, 182);
}

p.couplet{
    color:rgb(122, 112, 14);
}

p.refrain{
    color:rgb(102, 140, 190);
    font-style: italic;
}